@mixin breakpoint-down ($size){
  @media only screen  and (max-width: $size){
    @content;
  }
}
@mixin d-flex ($justify-content) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}
@mixin list-unstyled {
  list-style: none;
}
@mixin links {
  text-decoration: none;
}